.detail {
    &-video {
        display: flex;
        justify-content: center;
    }

    &-main {
        display: flex;
        margin-top: 40px;
        padding-left: 40px;
        padding-right: 40px;

        &-left {
            flex: 1;
            padding-right: 40px;

            &-header {
                display: flex;
                margin-bottom: 20px;

                &-img {
                    width: 170px;
                    height: 249px;
                    object-fit: cover;
                    margin-right: 15px;
                }

                &-content {
                    display: flex;
                    flex-direction: column;
                    
                    &-rating {
                        display: flex;
                        background-color: #071139;
                        align-self: flex-start;
                        padding: 5px 10px 5px 10px;
                        border-radius: 5px;
                        margin-bottom: 10px;

                        &-img {
                            width: 18px;
                            height: 18px;
                            margin-right: 10px;
                        }

                        &-text {
                            margin: 0px;
                            font-size: 18px;
                            color: #f8c146;
                        }
                    }

                    &-favorite {
                        display: flex;
                        background-color: #071139;
                        align-self: flex-start;
                        padding: 5px 10px 5px 10px;
                        border-radius: 5px;
                        margin-bottom: 10px;
                        cursor: pointer;

                        &-img {
                            width: 16px;
                            height: 16px;
                        }

                        &-text {
                            margin: 0px;
                            font-size: 16px;
                            color: #ffffff;
                            margin-right: 10px;
                        }
                    }

                    &-title {
                        margin: 0px;
                        font-size: 28px;
                        color:#071139;
                        font-weight: 500;
                    }

                    &-desc {
                        margin: 0px;
                        font-size: 18px;
                        color:#9598aa;
                        margin-bottom: 10px;
                    }
                }
            }

            &-item {
                margin-bottom: 20px;

                &-title {
                    margin: 0px;
                    font-size: 18px;
                    color: #071139;
                    margin-bottom: 5px;
                }

                &-desc {
                    margin: 0px;
                    font-size: 16px;
                    color:#848692;
                    line-height: 1.8;
                }
            }
        }

        &-right {

            &-title {
                margin: 0px;
                font-size: 25px;
                color:#071139;
                font-weight: 500;
                margin-bottom: 10px;
            }

            &-item {
                width: 150px;
                height: 240px;
                margin-top: 10px;

                &-img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                &-title {
                    margin: 0px;
                    font-size: 15px;
                    color: #071139;
                    font-weight: 500;
                    margin-top: 5px;
                }
            }
        }
    }
}