.home {
    &-menu {
        display: flex;

        &-item {
            display: flex;
            flex: 1;
            height: 50px;
            align-items: center;
            justify-content: center;
            border-right: 1px solid rgb(240, 235, 235);
            border-bottom: 1px solid rgb(240, 235, 235);
            cursor: pointer;

            &-text {
                margin: 0px;
                font-size: 16px;
                font-weight: bold;
                color: #071139;

                &-active {
                    color: #FFFFFF;
                }
            }

            &-active {
                background-color: #ff7675;
            }
        }
    }

    &-main {
        width: 80%;
        margin: auto;

        &-section {
            margin-top: 30px;
            width: 100%;

            &-content {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                &-item {
                    width: 180px;
                    height: 316px;
                    margin-right: 20px;
                    margin-top: 20px;

                    &-img {
                        width: 100%;
                        height: 259px;
                        object-fit: cover;
                    }

                    &-title {
                        margin: 0px;
                        font-size: 14px;
                        color: #071139;
                        font-weight: 600;
                        margin-top: 15px;
                    }
                }
            }

            &-title {
                margin: 0px;
                font-size: 32px;
                color:#071139;
                font-weight: 500;
                margin-bottom: 10px;
            }
        }
    }
}